/* Define variables */
/* Initial settings */
figure {
  margin: 0; }

body {
  background-color: #222;
  padding: 0;
  margin: 0 auto;
  /* section landing */
  /* section exhibition */
  /* section sneak peek */
  /* section interview */
  /* section plan visit */
  /* section sponsorship */ }
  body .section-landing {
    height: 870px; }
    body .section-landing .outer-container {
      width: 1280px;
      height: inherit;
      margin: 0 auto;
      display: flex; }
      body .section-landing .outer-container .left-container, body .section-landing .outer-container .right-container {
        width: 160px; }
      body .section-landing .outer-container .content-container {
        width: 960px;
        margin: 0 10px 0; }
    body .section-landing .outer-container {
      background-color: #131313;
      background-image: url("../Assets/Images/md-landing-bg.jpg");
      background-repeat: no-repeat;
      background-position: bottom right; }
      body .section-landing .outer-container .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        body .section-landing .outer-container .content-container .top-images {
          margin-top: 40px;
          display: flex;
          justify-content: space-between; }
          body .section-landing .outer-container .content-container .top-images .main-title {
            width: 574px;
            height: 134px; }
          body .section-landing .outer-container .content-container .top-images .hamburger-image {
            margin-top: 20px; }
            body .section-landing .outer-container .content-container .top-images .hamburger-image .menu-hamburger {
              width: 25px;
              padding: 2px;
              cursor: pointer; }
        body .section-landing .outer-container .content-container .bottom-panel {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin-bottom: 60px; }
          body .section-landing .outer-container .content-container .bottom-panel .artist {
            margin-left: 0; }
            body .section-landing .outer-container .content-container .bottom-panel .artist h1 {
              line-height: 40px; }
            body .section-landing .outer-container .content-container .bottom-panel .artist p {
              letter-spacing: 2px; }
          body .section-landing .outer-container .content-container .bottom-panel .white-gallery-image {
            margin-bottom: 15px; }
      body .section-landing .outer-container .menu-panel {
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        max-width: 1280px;
        width: 1280px;
        height: 870px;
        z-index: 5000;
        display: none; }
        body .section-landing .outer-container .menu-panel .menu-close-icon {
          display: flex;
          justify-content: flex-end; }
          body .section-landing .outer-container .menu-panel .menu-close-icon .menu-close {
            margin: 62px 146px 0 0;
            padding: 2px;
            cursor: pointer; }
        body .section-landing .outer-container .menu-panel .menu-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 100px; }
          body .section-landing .outer-container .menu-panel .menu-list .moriyama-logo {
            width: 150px;
            margin-bottom: 3%; }
          body .section-landing .outer-container .menu-panel .menu-list a {
            text-decoration: none;
            height: 60px;
            margin-bottom: 20px; }
            body .section-landing .outer-container .menu-panel .menu-list a h1 {
              border-bottom: 1px solid #fff;
              padding-bottom: 12px;
              width: 650px;
              text-align: center; }
  body .section-exhibition .outer-container {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex; }
    body .section-exhibition .outer-container .left-container, body .section-exhibition .outer-container .right-container {
      width: 160px; }
    body .section-exhibition .outer-container .content-container {
      width: 960px;
      margin: 75px 10px 70px; }
  body .section-exhibition .outer-container {
    background-color: #000; }
    body .section-exhibition .outer-container .left-container {
      display: flex;
      align-items: flex-end; }
      body .section-exhibition .outer-container .left-container .img-about-misawa {
        max-width: 500px;
        max-height: 500px; }
    body .section-exhibition .outer-container .content-container .text-panel {
      margin-left: 5px; }
    body .section-exhibition .outer-container .right-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end; }
  body .section-sneak-peek .outer-container {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex; }
    body .section-sneak-peek .outer-container .left-container, body .section-sneak-peek .outer-container .right-container {
      width: 160px; }
    body .section-sneak-peek .outer-container .content-container {
      width: 960px;
      margin: 75px 10px 70px; }
  body .section-sneak-peek .outer-container {
    background-color: #dcddde; }
    body .section-sneak-peek .outer-container .content-container h1, body .section-sneak-peek .outer-container .content-container p, body .section-sneak-peek .outer-container .content-container li {
      color: #131313; }
    body .section-sneak-peek .outer-container .content-container .inner-left-panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 987px; }
      body .section-sneak-peek .outer-container .content-container .inner-left-panel .sneak-peek-intro {
        width: 220px; }
      body .section-sneak-peek .outer-container .content-container .inner-left-panel .shinjuku-image {
        flex: 0 0 61%; }
    body .section-sneak-peek .outer-container .content-container .inner-right-panel {
      margin-left: 5px; }
      body .section-sneak-peek .outer-container .content-container .inner-right-panel .sneak-peek-right-images {
        margin-top: 5px; }
        body .section-sneak-peek .outer-container .content-container .inner-right-panel .sneak-peek-right-images .img-panel-bottom-right {
          display: flex;
          margin-top: 20px; }
          body .section-sneak-peek .outer-container .content-container .inner-right-panel .sneak-peek-right-images .img-panel-bottom-right .img-untitled {
            max-width: 400px;
            max-height: 300px;
            margin-left: 20px; }
  body .section-interview .outer-container {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex; }
    body .section-interview .outer-container .left-container, body .section-interview .outer-container .right-container {
      width: 160px; }
    body .section-interview .outer-container .content-container {
      width: 960px;
      margin: 75px 10px 70px; }
  body .section-interview .outer-container {
    background-color: #000; }
    body .section-interview .outer-container .interview-top-panel {
      margin-bottom: 30px; }
    body .section-interview .outer-container .pull-quote {
      width: 300px;
      margin: 5px 0 50px;
      padding: 20px 15px;
      outline: #666 3px solid;
      text-align: center; }
      body .section-interview .outer-container .pull-quote .quote {
        font-family: 'Droid Serif', serif;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        line-height: 170%;
        margin: 0 0 10px 0;
        padding: 0;
        color: #fff; }
      body .section-interview .outer-container .pull-quote .quote-name {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%;
        color: #fff;
        margin: 0;
        padding: 0; }
    body .section-interview .outer-container .img-moriyama {
      width: 470px;
      max-width: 470px;
      margin-left: -168px; }
  body .section-plan-visit .outer-container {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex; }
    body .section-plan-visit .outer-container .left-container, body .section-plan-visit .outer-container .right-container {
      width: 160px; }
    body .section-plan-visit .outer-container .content-container {
      width: 960px;
      margin: 75px 10px 70px; }
  body .section-plan-visit .outer-container {
    background-color: #131313;
    background-image: url("../Assets/Images/md-plan-trip-gallery.jpg");
    background-repeat: no-repeat;
    background-position: top right; }
    body .section-plan-visit .outer-container .left-container {
      display: flex;
      align-items: flex-end; }
      body .section-plan-visit .outer-container .left-container .img-visit-map {
        max-width: 570px; }
    body .section-plan-visit .outer-container .content-container .address-panel {
      width: 220px; }
      body .section-plan-visit .outer-container .content-container .address-panel .openhour-table tbody {
        border: none;
        font-family: 'Droid Serif', serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 180%;
        color: #fff; }
        body .section-plan-visit .outer-container .content-container .address-panel .openhour-table tbody .openhour-row:nth-child(even), body .section-plan-visit .outer-container .content-container .address-panel .openhour-table tbody .openhour-row:nth-child(odd) {
          border: none;
          background-color: #131313;
          color: #fff; }
        body .section-plan-visit .outer-container .content-container .address-panel .openhour-table tbody .openhour-row td {
          padding-top: 0;
          padding-left: 0;
          padding-bottom: 0; }
    body .section-plan-visit .outer-container .content-container .text-panel {
      background-color: #131313;
      margin-top: -35px;
      padding-top: 35px; }
  body .section-sponsorship .outer-container {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex; }
    body .section-sponsorship .outer-container .left-container, body .section-sponsorship .outer-container .right-container {
      width: 160px; }
    body .section-sponsorship .outer-container .content-container {
      width: 960px;
      margin: 75px 10px 70px; }
  body .section-sponsorship .outer-container {
    background-color: #000; }
    body .section-sponsorship .outer-container .sponsors-panel {
      display: flex;
      justify-content: space-between;
      align-items: center; }

/* mobile at 640px */
@media only screen and (max-width: 640px) {
  body {
    /* section landing */
    /* section plan visit */
    /* Other sections */ }
    body .section-landing .outer-container {
      background-image: none; }
      body .section-landing .outer-container .mobile-no-side-margin {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px; }
      body .section-landing .outer-container .mobile-landing-right-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right; }
        body .section-landing .outer-container .mobile-landing-right-panel .menu-hamburger {
          width: 25px;
          padding: 2px;
          cursor: pointer; }
    body .section-plan-visit .outer-container {
      background-image: none; }
      body .section-plan-visit .outer-container .mobile-address-panel .img-mobile-plan-bg {
        z-index: -1; }
      body .section-plan-visit .outer-container .mobile-address-panel .address-panel {
        background-color: #131313;
        margin-top: -170px;
        position: relative; }
      body .section-plan-visit .outer-container .text-panel {
        background-color: transparent !important; }
        body .section-plan-visit .outer-container .text-panel .img-visit-map {
          margin-bottom: 25px; }
        body .section-plan-visit .outer-container .text-panel .mobile-text {
          padding-left: 0;
          padding-right: 0; }
    body .outer-container {
      width: 320px !important; }
      body .outer-container .left-container, body .outer-container .right-container {
        display: none !important; }
      body .outer-container .content-container {
        width: 320px !important;
        margin-left: 15px !important;
        margin-right: 20px !important;
        /* section exhibition */
        /* section sneak peek */
        /* section interview */
        /* section sponsorship */ }
        body .outer-container .content-container .about-image {
          margin: 0 0 25px; }
        body .outer-container .content-container .mobile-exhibision-moriyama {
          float: right;
          margin: 0 0 0 20px;
          max-width: 95px; }
        body .outer-container .content-container .mobile-sneak-peek-images img {
          margin-bottom: 15px; }
        body .outer-container .content-container .pull-quote {
          max-width: 290px;
          padding: 10px 20px; }
        body .outer-container .content-container .mobile-sponsors-sub {
          padding-left: 0; }
          body .outer-container .content-container .mobile-sponsors-sub .mobile-sponsors-heading {
            margin-top: 35px; }
          body .outer-container .content-container .mobile-sponsors-sub .mobile-sponsors-panel img {
            margin-bottom: 25px; } }
/* TYPOGRAPHY */
.intro-texts {
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 165%;
  color: #fff;
  margin: 0 0 15px 0;
  padding: 0; }

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 18px 0;
  padding: 0; }

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin: -15px 0 18px 0;
  padding: 0; }

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #fff;
  margin: 0 0 15px 0;
  padding: 0; }

p {
  font-family: 'Droid Serif', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 180%;
  color: #fff;
  margin: 0 0 15px 0;
  padding: 0; }
  p .last {
    margin: 0 0 30px 0; }

ul.credits, .fig-credits {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 180%;
  list-style-type: none;
  color: #fff;
  margin: 10px 0 0;
  padding: 0; }

a {
  font-style: italic;
  text-decoration: underline;
  color: #fff; }
  a:hover {
    color: #bbb; }

.no-left-padding {
  padding-left: 0; }

.no-right-padding {
  padding-right: 0; }

.no-side-padding {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=moriyama.css.map */
